.CONTENEDOR {
  padding: 20px;
  background-color: #d4e9ff;

}

/* Estilo para cada uno de los parrafos */
p {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-align: center;
}



nav {
  background-color: rgb(244, 249, 255);
  padding: 20px;
  display: flex; /* Utiliza flex para organizar el contenido del nav */
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  margin-bottom: 20px; /* Agrega espacio entre el nav y el main */
  border-radius: 30px;
}

nav ul {
  display: flex; /* Esto pone los <li> uno al lado del otro */
  flex-direction: row; /* Alineación horizontal */
  list-style: none; /* Quita los puntos de la lista */
  padding: 0;
  font-size: 17px;
  margin-top: 15px; /* Espacio entre el título h1 y el menú */
  gap: 20px; /* Espacio uniforme entre cada opción del menú */
}

main {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex; /* Utiliza flexbox para organizar el contenido */
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  
}

section {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  margin-bottom: 20px; /* Agrega espacio entre las secciones */
  width: 80%;
}

aside {
  background-color:rgb(226, 249, 255);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2, h3, h4 {
  font-family: 'Trebuchet MS', sans-serif; /* Una letra más moderna para títulos */
  color: #2c4f72;   
  font-weight: bold; /* Resalta los títulos */
  font-size: 16px;
  
}

footer {
  padding: 20px;
  text-align: center; /* Centra el texto del pie de página */
  background-color: rgb(244, 249, 255);
}



